$theme-colors: ("primary": #ff4e00,
"success": #d86a48,
"info": #ffffff,
"danger": #e43732,
"secondary": #707070,
"warning": #363636,
);

@import "../scss/bootstrap.scss";

$container-max-width: (xl: 1440px);

img {
    max-width: 100%;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

@font-face {
    font-family: gotham;
    src: url(/views/assets/fonts/gotham-narrow-book.otf);
}

h1 h2 h3 h4 h5 h6 {
    font-family: gotham, Arial, Helvetica, sans-serif;
}

body {
    background-color: rgba($color: #7fbe41, $alpha: .05);
    font-family: 'Maven Pro', sans-serif, Arial, Helvetica, sans-serif;
}

p {
    font-family: 'Maven Pro', sans-serif, Arial, Helvetica, sans-serif;
}



// LOGIN PAGE **************************************************

#landingBanner {
    background-image: url(/views/assets/images/landingpage-background.jpg);
    background-repeat: no-repeat;
    background-size: 50% 100%;
    min-height: 800px;
}


#loginCardBody {
    background-color: transparent;
}

#signupCardBody {
    background-color: transparent;
}


//Landing Page footer

.footer {
    font-size: 13px;

    .footer-content {
        padding-top: 50px;
    }

    background-color: #363636;
    a {
    color: #ffffff;
    }
    a:hover {
        text-decoration: none;
        color: #d86a48;
        transition: .4s;
    }

    ul {
    list-style-type: none;
    padding-inline-start: 0px;
    }
    li {
        margin-top: 8px;
    }
    .footer-contact {
        color: #ffffff;
        font-size: 13px;
    }
    .footer-spacing {
        padding-left: 0;
    }
    .newsletter {
        color: #ffffff;
    }
    input.form-control.footer-input {
        max-width: 150px;
    }

    .news-btn {
        background-color: #EF5C35;
        border-color: #D86A48; 
        border-radius: 0px 5px 5px 0px;
    }
    .news-btn:hover {
        color: #EF5C35;
        background-color: transparent;
        border-color: #EF5C35; 
    }
}

#registerForm {
    display: none;
}

.login-logo {
    padding: 40px 0 80px 0;
}

.register-logo {
    padding-bottom: 20px;
}

#loginCardBody .form-control {
   border: 1px solid #EF5C35;
   border-radius: 12px;
}
#signupCardBody .form-control{
    border: 1px solid #EF5C35;
    border-radius: 12px;
}

.register-back, .login-back {
    color: #ff4e00;
}

.register-back:hover, .login-back:hover {
    color: #D86A48;
    transition: .3s;
    cursor: pointer;
}

.login-btn, .register-btn  {
    border-radius: 12px;
    padding: 8px 30px;
    background-color: #EF5C35;
    border-color: #D86A48;
    }

.login-btn:hover, .register-btn:hover  {
    color: #FF4E00;
    background-color:transparent;
    border-color: #EF5C35;
    transition: .4s;
    }


.right-icons {
   justify-content: center;
   list-style-type: none;
   li {
     margin: 90px 15px 0 15px;
     a {
        color: #FF4E00;
     }
     a:hover{
        color: #D86A48;
        transition: .4s;
     }
    } 
}
.right-links {
   justify-content: center;
   list-style-type: none;
   li {
     margin: 30px 15px 0 15px;
     a {
        color: #707070;
        font-size: 18px;
     }
     a:hover{
        color: #FF4E00;
        text-decoration: none;
        transition: .4s;
     }
    } 
}

// *********************************************************************************
// Members Page
// *********************************************************************************

//navbar 
#nav {
    border-bottom: 1px solid rgba($color: #363636, $alpha: .5);
    padding-bottom: 10px;
}

.nav-profile-pic {
    border-radius: 160px;
    border: 2px solid #ff4e00;
    width: 60px;
    height: 60px;
    float: right;
}

.nav-item:hover {
    cursor: pointer;
}

.right-nav {
    float: right;
}

#search_form {  
    position: relative;
    z-index: 100;

    #search_results {
        position: absolute;
        left: 0;
        top: 100%;
    }
}

.cog {
    color: #FF4E00;
}

//posted projects

.login-landing-page {
    margin-top: 50px;
}

.project-post {
    margin-bottom: 40px !important;
}

.love-btn:hover {
    cursor: pointer;
}

.comment-btn:hover {
    cursor: pointer;
}

.comment-btn {
    display: inline-block;
}


//submit card
.submit-text {
    font-size: 18px;
    color: #363636;
}

.upload-card-header {
    padding-bottom: 10px;
    padding-top: 15px;
}

.input-upload-card {
    padding-top: 0px;
}


.fixed-input {
    position: fixed;
}

#projectFeed {
    right: 0;
    margin-right: 50px;
}

#projectFeed .card, .card-header, .card-body {
    border: none;
    background-color: #F4EFEF;
    border-radius: 20px;
}

#projectFeed .card-header:first-child {
    border-radius: 20px; 
}

.post-submit:hover {
    color: #FF4E00;
    background-color:transparent;
    border-color: #EF5C35;
    transition: .4s;

}

.input-upload-card {
    padding-top: none;
}

.post-img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.project-post .card-footer {
    background-color: #F4EFEF;
}




//Comments
.comment-loop {
    max-height: 150px;
    overflow-y: scroll;
    display: none;
    .my_comment {
        color: #ff4e00;
    }
}

hr {
    clear: both;
}
.project-meta {
    padding-bottom: 1em;
    &:after {
        content: "";
        clear: both;
        display: block;
    }
}

//Profile
.outer-img-box{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.inner-img {
    width: 300px;
    height: 300px;
    overflow: hidden;
}

//profile
.edit-img-preview {
    width: 150px;
    height: 150px;
    overflow: hidden; 
    border: 2px solid #FF4E00;
    border-radius: 100px;
}

.profile-landing {
    margin-top: 75px;
    margin-bottom: 75px;
}

.edit-btn {
    border-radius: 12px;
    padding: 8px 30px;
    background-color: #EF5C35;
    border-color: #D86A48;  
}

.edit-btn:hover {
    color: #FF4E00;
    background-color:transparent;
    border-color: #EF5C35;
    transition: .4s;
}

//Edit profile
.custom-file-input {
    background-color: #ff4e00 !important;
    cursor: pointer;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
    background-color: #ff4e00 !important;
    color: white;
}

.input-upload-card .form-control {
    border: .25px solid #707070;
}

.form-group {
    position: relative;
}

.input-icons i { 
    position: absolute; 
    z-index: 10;
    margin: 10px 0 0 10px;
    color: #ff4e00;  
} 

#username, #firstname, #lastname, #password, #password2 {
    padding-left: 30px;   
}

.form-control #password {
    font-size: 12px;
}

.mobile-nav {
    display: none;
}





// **********************************************************************
// Media Query
// **********************************************************************


//Sign-up page(media query) 

@media only screen and (max-width: 786px) {
    #landingBanner {
        background-image: url(/views/assets/images/landingpage-background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 800px;
    }

    h3 {
        text-align: center;
        font-size: 24px;
    }
    .text-secondary {
        color: #ffffff !important;
        font-size: 15px;
    }

    .right-links {
      li {
        margin: 30px 9px 0px 9px;
            a {
             color: #ffffff !important;
            }
        }
    }

    .footer-content {
        text-align: center;
    }

    .newsletter-contain {
       margin-left: 50px;

    }

    //Members area(media query)
    .navbar-brand {
        width: 200px;
        margin-bottom: 20px;
    }

    .nav-brand-mobile {
        text-align: center;
    }

    .nav-container {
        position: relative;
        margin-bottom: 85px;
     

        .nav-profile-pic {
            position: absolute;
            margin-top: 20px;
            margin-left: 20px;
        }
        .navbar-toggler {
            position: absolute;
            margin-left: 240px;
            margin-top: 28px;
            color: #ff4e00;
            border: 1px solid #ff4e00;
        }
    }

    .fixed-input {
        position: static;
    }

    #projectFeed {
        margin: auto;
    }

    .text-right{
        text-align: center;
        .post-submit {
            width: 300px;
        }
    }
    .login-landing-page {
        margin-top: 20px;
    }

    .dropdown-menu a {
        color: #ff4e00;
    }

    .browser-nav {
        display: none;
    }

    .mobile-nav {
        display: block;
        .navbar-nav {
            text-align: center;
            margin-top: 80px;
            font-size: 18px;
        }
    }
    .navbar {
        max-height: 300px;
    }

    //profile page
    .profile-landing {
        text-align: center;
    }

    .edit-img-preview {
        margin-bottom: 15px;
    }

    .profile-landing {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .img-box {
        text-align: center;
    }

    .edit-btn-update {
        margin-bottom: 40px;
        text-align: center !important;
    }

    .update-btn {
        width: 300px;
    }








  }

